body {
  margin-top: 105px;
}

.padding-link {
  padding-top: 105px;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

@import "./core/hero-header";
@import "./core/about-strenghts";
@import "./core/team";
