<section id="quienes-somos" class="padding-link">
  <div class="adalabers">
    <h2 class="quienes">Quiénes somos</h2>
    <!-- SILVIA -->
    <div class="adalaber adalaber-even">
      <div class="photobox photobox-even">
        <img
          class="photo"
          src="./assets/images/silvia.jpg"
          alt="Silvia Alonso"
        />
      </div>
      <div class="information">
        <h4 class="name name-even">Silvia Alonso Pozas</h4>
        <p class="text text-even">
          Futura programadora Front-end, con años de experiencia en atención al
          cliente en retail. En contínuo aprendizaje dentro del mundo
          tecnológico, atención al detalle, gusto por la investigación y el
          descubrimiento. Nivel medio de alemán hablado y escrito, y alto de
          inglés.
        </p>
        <!-- ICONOS -->
        <div class="icons icons-even">
          <a href="https://twitter.com/silvia_coding"> </a>
          <div class="fab fa-twitter"></div>
          <a href="https://www.linkedin.com/in/silvia-alonso-pozas/"> </a>
          <div class="fab fa-linkedin-in"></div>
          <a href="https://github.com/silalonso"> </a>
          <div class="fab fa-github-alt"></div>
          <a href="mailto: silvia.alonso.pozas@gmail.com"> </a>
          <div class="fas fa-envelope"></div>
        </div>

        <!-- ICONOS -->
      </div>
    </div>
    <!-- MARGUI -->
    <div class="adalaber  adalaber-odd">
      <div class="photobox photobox-odd">
        <img
          class="photo"
          src="./assets/images/margui.jpg"
          alt="Margarita Berjón"
        />
      </div>
      <div class="information">
        <h4 class="name name-odd">Margarita Berjón Hernández</h4>
        <p class="text text-odd">
          Futura front-end developer, entusiasta del marketing y las nuevas
          tecnologías, con experiencia en marketing digital y UX writer.
          Graduada en Marketing y Máster en diseño de experiencia de usuario.
          Con conocimientos en Sketch, Photoshop, Wordpress y Hootsuit. Curiosa,
          facilidad de adaptación y con muchas ganas de continuar aprendiendo.
        </p>
        <!-- ICONOS -->
        <div class="icons icons-odd">
          <a href="https://www.linkedin.com/in/marketingdigitalmarberjon/"> </a>
          <div class="fab fa-linkedin-in fa-linkedin-in-odd"></div>
          <a href="https://github.com/MargaritaBerjon"> </a>
          <div class="fab fa-github-alt fa-github-alt-odd"></div>
          <a href="mailto: margui.berjon@gmail.com"> </a>
          <div class="fas fa-envelope"></div>
        </div>

        <!-- ICONOS -->
      </div>
    </div>
    <!-- VIOLETA -->
    <div class="adalaber adalaber-even">
      <div class="photobox photobox-even">
        <img
          class="photo"
          src="./assets/images/violeta.jpg"
          alt="Violeta González"
        />
      </div>
      <div class="information">
        <h4 class="name name-even">Violeta González Calleja</h4>
        <p class="text text-even">
          Conocimientos en desarrollo Front-end, lenguaje HTML5, CSS y
          Javascript (librería React). Graduada en Periodismo e Ilustración.
          Conocimiento en programas de edición del paquete Adobe, así como
          básico de edición de video y sonido (Premiere y Audacity).
          Versatilidad, creatividad, rápido aprendizaje y capacidad de
          adaptación. Curiosidad y capacidad de trabajo en equipo. Nivel alto de
          Inglés hablado y escrito.
        </p>
        <!-- ICONOS -->
        <div class="icons icons-even">
          <a href="#">
            <div class="fab fa-twitter"></div>
          </a>
          <a href="#">
            <div class="fab fa-linkedin-in"></div>
          </a>
          <a href="https://github.com/violetagonza">
            <div class="fab fa-github-alt"></div>
          </a>
          <a href="mailto: violetagonzalezcalleja@gmail.com">
            <div class="fas fa-envelope"></div>
          </a>
        </div>

        <!-- ICONOS -->
      </div>
    </div>
    <!-- SARA -->
    <div class="adalaber adalaber-odd">
      <div class="photobox photobox-odd">
        <img class="photo" src="./assets/images/sara.jpg" alt="Sara Juárez" />
      </div>
      <div class="information">
        <h4 class="name name-odd">Sara Juárez Zarco</h4>
        <p class="text text-odd">
          Descripción: 1,69, bien parecida, dientes fuertes, ágil, sabe nadar y
          “conducir”. Siempre saluda.
        </p>
        <!-- ICONOS -->
        <div class="icons icons-odd">
          <a href="https://www.linkedin.com/in/sarajuarezzarco/"></a>
          <div class="fab fa-linkedin-in fa-linkedin-in-odd"></div>

          <a href="https://github.com/SaraJuarez"></a>
          <div class="fab fa-github-alt fa-github-alt-odd"></div>

          <a href="mailto: sarajuarezzarco@gmail.com"></a>
          <div class="fas fa-envelope"></div>
        </div>

        <!-- ICONOS -->
      </div>
    </div>
    <!-- EVA -->
    <div class="adalaber adalaber-even">
      <div class="photobox photobox-even">
        <img class="photo" src="./assets/images/eva.jpg" alt="Eva López" />
      </div>
      <div class="information">
        <h4 class="name name-even">Eva López Merino</h4>
        <p class="text text-even">
          Programadora front-end con conocimientos en HTML, CSS y JS y un
          background de más de 10 años en comunicación, tanto en España como en
          Inglaterra. Facilidad para aprender rápido e incorporarlo al
          conocimiento y experiencias ya adquiridos. Gran adaptabilidad, trabajo
          en equipo, mente inquieta y pasión por los retos.
        </p>
        <!-- ICONOS -->
        <div class="icons icons-even">
          <a href="https://twitter.com/evalopezmerino2">
            <div class="fab fa-twitter"></div>
          </a>
          <a href="https://www.linkedin.com/in/evalopezmerino/">
            <div class="fab fa-linkedin-in"></div>
          </a>
          <a href="https://github.com/evalopezm">
            <div class="fab fa-github-alt"></div>
          </a>
          <a href="mailto: eva.lopez.merino@gmail.com">
            <div class="fas fa-envelope"></div>
          </a>
        </div>

        <!-- ICONOS -->
      </div>
    </div>
  </div>
</section>
