<section id="link-equipo" class="padding-link">
  <div class="container">
    <h2 class="title-team">Equipo</h2>
    <p class="content-team">
      Somos 5 mujeres jóvenes adaptándose a un entorno laboral en contínua
      transformación y con una orientación clara hacia lo tecnológico. Con toda
      nuestra experiencia laboral y educativa como mochila, buscamos una
      oportunidad en el mundo de la programación para desarrollar nuestro
      potencial creativo.
    </p>
    <div class="decoration-box"></div>
  </div>
</section>
<!-- Strenghts and weakness -->
<section>
  <div class="features">
    <div class="features-content">
      <h2 class="title">Fortalezas</h2>

      <p class="content">
        Entusiasmo, creatividad, equipo multidisciplinar, adaptabilidad,
        predisposición a aprender, fast learning, equipo compenetrado.
      </p>
    </div>

    <div class="features-content">
      <h2 class="title">Debilidades</h2>

      <p class="content">
        Breve experiencia en programación, poco inmersas en el sector
        tecnológico.
      </p>
    </div>
  </div>
</section>
