<section>
  <div class="features">
    <div class="features-container">
      <h2 class="features-title">Fortalezas</h2>

      <p class="features-content">
        Entusiasmo, creatividad, equipo multidisciplinar, adaptabilidad,
        predisposición a aprender, fast learning, equipo compenetrado.
      </p>
    </div>

    <div class="features-container">
      <h2 class="features-title">Debilidades</h2>

      <p class="features-content">
        Breve experiencia en programación, poco inmersas en el sector
        tecnológico.
      </p>
    </div>
  </div>
</section>
