<footer>
  <div class="container-footer">
    <small class="copyright" title="Roble's angels" onClick="location='#'">Robles' Angels © 2020</small>
    <ul class="links-footer">
      <li><a title="Equipo" href="./index.html#link-equipo">Equipo</a></li>
      <li><a title="Quiénes somos" href="./index.html#quienes-somos">Quiénes somos</a></li>
      <li><a title="Formulario de contacto" href="./contact-form.html">Contacto</a></li>
    </ul>

    <a class="footer-logo-link" title="Adalab" href="https://adalab.es/">
      <img class="adalab-logo" src="./assets/images/logo-adalab.png" alt="Adalab" />
    </a>
  </div>
</footer>
