<section>
  <div class="hero__image-contact">
    <header class="header">
      <div class="header-base">
        <a  class="header-h1" href="./index.html">Robles' angels</a>
       
      </div>
      <nav class="menu">
        <ul class="main-bar">
          <li><a class="main-bar-links" title="Equipo" href="./index.html#link-equipo">Equipo</a></li>
          <li><a class="main-bar-links" title="Quiénes somos" href="./index.html#quienes-somos">Quiénes somos</a></li>
          <li><a class="main-bar-links" title="Formulario de contacto" href="./contact-form.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
</section>
