<section>
  <div class="hero-image">
    <header class="header">
      <div class="header-base">
        <h1 class="nombre-del-grupo" onClick="location='#'">
          Robles' angels
        </h1>
      </div>
      <nav class="menu">
        <ul class="main-bar">
          <li><a href="./index.html#link-equipo">Equipo</a></li>
          <li><a href="./index.html#quienes-somos">Quiénes somos</a></li>
          <li><a href="./contact.html">Contacto</a></li>
        </ul>
      </nav>
    </header>
    <div class="lema">
      <h2>La oportunidad del cambio</h2>
    </div>
  </div>
</section>
