<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Robles' Angels</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <!-- Hero & header -->
    <partial src="./_header-contact-form.html" title="header-hero"></partial>

    <main>
      <form action="GET">
        <div class="team">
          <h2>Contacto</h2>
          <p>
            Contacta con nosotras, estaremos encantadas de contestarte lo antes
            posible. ¡Muchas gracias!
          </p>

          <small
            >Todos los campos marcados con <span>*</span> son
            obligatorios.</small
          >
        </div>
        <label>
          Nombre completo <span>*</span>
          <input type="text" name="Name" placeholder="Nombre..." />
        </label>
        <label>
          Email
          <input
            type="email"
            name="email"
            placeholder="nombre.apellidos@mail.com"
          />
        </label>
        <label
          >Teléfono
          <input type="number" name="Phone-number" placeholder="Ej:123456789" />
        </label>
        <label
          >Mensaje
          <input type="text" name="Message" placeholder="¿Qué necesitas?" />
        </label>
        <input type="submit" name="Enviar" />
      </form>
    </main>
    <!-- Footer -->
    <partial src="_footer.html"></partial>
  </body>
</html>
