<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Robles' Angels</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <!-- Hero & header -->
    <partial src="./_header-contact-form.html" title="header-hero"></partial>

    <main>
      <form action="GET">
        <div class="team">
          <h2 class="team-title">Contacto</h2>
          <p class="team-content">
            Contacta con nosotras, estaremos encantadas de contestarte lo antes
            posible. ¡Muchas gracias!
          </p>

          <small
            >Todos los campos marcados con <span>*</span> son
            obligatorios.</small
          >
        </div>
        <div class="form-container">
        <label for="Name">
          Nombre completo <span>*</span>
        </label>
          <input id="Name" type="text" name="Name" placeholder="Nombre..." />
        <div class="mail-tel">
        <label id="email">
          Email
        </label>
          <input
          id="email"
            type="email"
            name="email"
            placeholder="nombre.apellidos@mail.com"
          />
        <label for="tel">
          Teléfono
        </label>
          <input id="tel" type="number" name="Phone-number" placeholder="Ej:123456789" />
      </div>
        <label for="comments">
          Mensaje
        </label>
          <textarea id="comments" name="comments" placeholder="¿Qué necesitas?" rows="8" cols="80"></textarea>
        <input type="submit" name="Enviar" />
      </form>
    </div>
    </main>
    <!-- Footer -->
    <partial src="_footer.html"></partial>
  </body>
</html>
