<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Robles' Angels</title>

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Rubik&display=swap"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://use.fontawesome.com/releases/v5.0.7/css/all.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="./assets/css/main.css" />
  </head>

  <body>
    <!-- Hero & header -->
    <partial src="./_header-hero.html" title="header-hero"></partial>
    
    <partial src="./_team.html" title="equipo"></partial>
   
    <partial src="./_strenghts-weakness.html" title="equipo-fortalezas"></partial>
      <!-- El equipo -->
     <partial src="./_adalabers.html" title="Adalabers"></partial>
    </main>
    <!-- Footer -->
    <partial src="_footer.html"></partial>
  </body>
</html>
