/* About */

@mixin content() {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: $paragraph-grey;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
  margin-right: 15px;
  margin-bottom: 0px;
  position: relative;
  &-title {
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    color: $light-green;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &-content {
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    margin: 15px;
    margin-bottom: 30px;
    @include content();
  }
  .decoration-box {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: #ffffff;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -15px;
  }
}
// fortalezas  y debilidades
body {
  margin: 0;
}

.features {
  background-color: #f1f1f1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 20px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 20px;
  &-features-container {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  &-content {
    width: 100%;
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
    @include content();
  }
  &-title {
    color: $dark-green;
    font-family: "Rubik", sans-serif;
    font-size: 22px;
    margin-top: 10px;
    text-align: center;
  }
}

@media all and (min-width: 768px) {
  .features {
    flex-direction: row;
    &-container {
      width: 50%;
      margin-right: 45px;
      margin-left: 45px;
    }
  }
  .team {
    margin-left: 45px;
    margin-right: 45px;
  }
}

@media all and (min-width: 1200px) {
  .features {
    flex-direction: row;
    &-container {
      width: 50%;
      margin-right: 138px;
      margin-left: 138px;
    }
  }
  .team {
    margin-left: 300px;
    margin-right: 300px;
  }
}
