.hero__image-contact {
  height: 412px;
  background: url(../images/hero-contact.jpg) 50% center no-repeat;
  background-size: cover;
  width: 100%;

  @media all and (min-width: 1200px) {
    height: 550px;
  }
}
form {
  .team {
    &-title {
      line-height: 45px;
      padding-top: 30px;
    }
  }
}
.form-container {
  display: flex;
  flex-direction: column;
  color: $paragraph-grey;
  padding: 15px;
  label {
    font-family: $principal-font;
    font-size: 14px;
    line-height: 40px;

    span {
      color: $light-green;
    }
  }
  input {
    height: 45px;
    border: solid 1px $background-grey;
    padding: 15px;
  }
  textarea {
    border: solid 1px $background-grey;
    padding: 15px;
  }
  .mail-tel {
    display: flex;
    flex-direction: column;
    .mail {
      display: flex;
      flex-direction: column;
    }
  }
  .telf {
    display: flex;
    flex-direction: column;
  }
}

.button-box {
  margin-top: 40px;

  .form-button {
    background-color: $dark-green;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    width: 100%;
  }
}
// MEDIA QUERY FOR TABLET
@media all and (min-width: 768px) {
  .button-box {
    display: flex;
    justify-content: flex-end;
    text-align: end;
    .form-button {
      width: 206px;
    }
  }
  .form-container {
    padding-left: 163px;
    padding-right: 163px;
  }
}

.small-contact-form {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: $paragraph-grey;
  span {
    color: $light-green;
  }
}

@media all and (min-width: 1200px) {
  .form-container {
    .mail-tel {
      flex-direction: row;
      .mail {
        width: 70%;
        input {
          margin-right: 44px;
        }
      }
      .telf {
        width: 30%;
      }
    }
  }
}
/* all */
::-webkit-input-placeholder {
  color: $background-grey;
  font-size: 14px;
}
::-moz-placeholder {
  color: $background-grey;
  font-size: 14px;
} /* firefox 19+ */
:-ms-input-placeholder {
  color: $background-grey;
  font-size: 14px;
} /* ie */
input:-moz-placeholder {
  color: $background-grey;
  font-size: 14px;
}

/* individual: webkit */
#nombre::-webkit-input-placeholder {
  color: $background-grey;
  font-size: 14px;
}
#apellidos::-webkit-input-placeholder {
  color: $background-grey;
  font-size: 14px;
  text-transform: uppercase;
}

/* individual: mozilla */
#nombre::-moz-placeholder {
  color: $background-grey;
  font-size: 14px;
}
#apellidos::-moz-placeholder {
  color: $background-grey;
  font-size: 14px;
  text-transform: uppercase;
}
