/* Hero */

.hero__image {
  height: 412px;
  background: url(../images/group.photo.jpg) 50% center no-repeat;
  background-size: cover;
  width: 100%;

  @media all and (min-width: 1200px) {
    height: 550px;
  }
}

.hero__lema {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  position: relative;
  top: 90%;
  background-color: white;
  font-family: $content-font, sans-serif;
  h2 {
    font-weight: normal;
  }

  @media all and (min-width: 768px) {
    opacity: 80%;
  }

  @media all and (min-width: 1200px) {
    width: 48%;
    margin-left: 138px;
    padding: 15px 30px;
    top: 91.5%;
    opacity: 80%;
  }
}

/* Header */

.header {
  width: 100%;
  position: fixed;
  background-color: $dark-green;
  opacity: 0.9;

  &-base {
    display: flex;
    height: 60px;
    margin: 0;
    justify-content: center;
    align-items: center;
  }
}

.nombre-del-grupo {
  font-family: $principal-font;
  font-size: 16px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.main-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  height: 45px;
  opacity: 0.9;
  background-color: $light-green;
  margin: 0;
  padding: 0 15px 0;
  text-transform: uppercase;

  a {
    font-family: $principal-font;
    text-decoration: none;
    color: white;
    padding: 8px;
  }
}

@media (min-width: 768px) {
  .header {
    display: flex;
    flex-direction: row;
    background-color: $dark-green;
    width: 100%;
    height: 60px;
    justify-content: space-between;
    opacity: 0.9;

    &-base {
      justify-content: flex-start;
      background-color: transparent;
      padding: 15px 45px;
    }
  }

  .main-bar {
    justify-content: space-between;
    height: 60px;
    background-color: $dark-green;
    padding: 0 36px 0;

    a {
      padding: 9px;
    }
  }
}

@media (min-width: 1200px) {
  .header-base {
    padding: 15px 138px;
  }

  .main-bar {
    padding: 0 129px 0;
  }
}
