@mixin content() {
  font-family: "open sans", sans-serif;
  font-size: 16px;
  color: $paragraph-grey;
}

.team {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 15px 0 15px;

  &-title {
    font-family: Rubik;
    font-size: 24px;
    font-weight: bold;
    justify-content: center;
    color: $light-green;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  &-content {
    justify-content: center;
    text-align: center;
    line-height: 1.5;
    margin: 15px;
    margin-bottom: 30px;
    @include content();
  }
  .decoration-box {
    width: 30px;
    height: 30px;
    transform: rotate(45deg);
    background-color: #ffffff;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    position: absolute;
    bottom: -15px;
    z-index: 999;
  }
}
