/* team */
.adalabers {
  padding-top: 10px;
}

.adalaber {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.quienes {
  width: 193px;
  height: 45px;
  font-family: Rubik;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.88;
  color: #099d8d;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
}

.name {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 20px;
  line-height: 2.25;
  color: #000000;
  text-align: center;
}

.text {
  font-family: "Open Sans", "Helvetica Neue", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #54585a;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}

.photo {
  width: 100%;
}
.photobox {
  width: 180px;
  height: 180px;
  border: solid #b8b8b9 5px;
  border-radius: 4px;
  box-sizing: content-box;
  margin: 10px;
  padding: 0px;
}

body {
  display: block;
}

/* ESTILOS ICONOS */

.fa-twitter {
  color: #14d9c4;
}

/* PUNTO TRAS TWITTER */

.fa-twitter:after {
  content: "\002E";
  position: relative;
  top: -4px;
  left: 8px;
  color: black;
}

.fa-linkedin-in {
  color: $light-green;
}

.fa-linkedin-in-odd {
  color: $light-green;
}

/* PUNTO TRAS LINKEDIN */

.fa-linkedin-in:after {
  content: "\002E";
  position: relative;
  top: -4px;
  left: 8px;
  color: black;
}

.fa-linkedin-in-odd:after {
  content: "\002E";
  position: relative;
  top: -4px;
  left: 12px;
  color: black;
}

.fa-github-alt {
  color: $light-green;
}

.fa-github-alt-odd {
  color: $light-green;
}

/* PUNTO TRAS GITHUB */

.fa-github-alt:after {
  content: "\002E";
  position: relative;
  top: -4px;
  left: 8px;
  color: black;
}

.fa-github-alt-odd:after {
  content: "\002E";
  position: relative;
  top: -4px;
  left: 12px;
  color: black;
}

.fa-envelope {
  color: #14d9c4;
}

.icons {
  width: 124px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}

/* footer */
.container-footer {
  width: 100%;
  border-top: solid 1px #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.copyright {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  color: #b8b8b9;
  margin-top: 30px;
  margin-bottom: 20px;
}
.links-footer {
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  line-height: 20px;
  color: #54585a;
  list-style: none;
  text-align: center;
  padding: 0px;
  margin-bottom: 30px;
  margin-top: 0px;
  text-transform: uppercase;
}

.adalab-logo {
  width: 115.9px;
  height: 45px;
  margin-bottom: 45px;
}
.links-footer a {
  color: #54585a;
}

a {
  text-decoration: none;
}

/* @media Tablet */

@media all and (min-width: 768px) {
  .adalaber-even {
    display: flex;
    flex-direction: row;
  }

  .adalaber-odd {
    display: flex;
    flex-direction: row-reverse;
  }

  .information {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .photobox-even {
    min-width: 205px;
    min-height: 205px;
    margin-left: 44px;
    margin-right: 31px;
  }

  .photobox-odd {
    min-width: 205px;
    min-height: 205px;
    margin-left: 31px;
    margin-right: 44px;
  }

  .text-even {
    text-align: left;
    margin-right: 44px;
    padding: 0;
  }

  .text-odd {
    text-align: right;
    margin-left: 44px;
    padding: 0;
  }

  .name-even {
    text-align: left;
  }

  .name-odd {
    text-align: right;
  }

  .photo {
    width: 205px;
    height: 205px;
  }

  .icons-even {
    margin-left: 0;
  }

  .icons-odd {
    margin-right: 0;
  }

  .container p {
    margin-top: 0px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 60px;
  }
}
@media all and (min-width: 1200px) {
  .information {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: left;
  }

  .photobox-even {
    margin-left: 138px;
    margin-right: 31px;
  }

  .photobox-odd {
    margin-left: 31px;
    margin-right: 138px;
  }

  .text-even {
    margin-right: 300px;
    padding: 0;
  }

  .text-odd {
    margin-left: 300px;
    padding: 0;
  }
}
